.mask
{
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;
    opacity: .5;
    background-color: #777;
    filter: alpha(opacity=60);
    -moz-opacity: .5;
}
.shipping-address-form
    {
        margin-bottom: 45px;
        padding-left: 10px;
        input
        {
            font-size: 13px;
            height: 35px;
            line-height: 35px;
            text-indent: 5px;
            border: 1px solid #dfdfdf;
            border-radius: 2px;
        }
        label
        {
            display: block;
            font-size: 14px;
            color: #666;
            margin-bottom:10px;
            margin-top: 23px;
            span
            {
                color:red;
                margin-right: 5px;
            }
        }
        .Firstname
        {
            input
            {
                width: 340px;
            }
            .Firstname_right
            {
                float: right;
            }
            .Firstname_left
            {
                float: left;
            }
        }
        .AddressLine2,
        .AddressLine1
        {
            input
            {
                width: 100%;
            }
        }
        .selectd
        {
            li{
                width: 342px;
               select{
                    display: inline-block;
                    width: 340px;
                    height: 35px;
                    border: 1px solid #cfcfcf;
                    text-indent: 5px;
                    appearance:none;
                    -moz-appearance:none;
                    -webkit-appearance:none;
                    background:url(../images/place_order_03.jpg) no-repeat scroll 93% center transparent;
                }
            }
            .states{
                width: 338px;
            }
        }
        .city
        {
            width: 100%;
        }
        .zip
        {
            margin-bottom: 20px;
            input
            {
                width:100%;
            }
        }
        .privacy
        {
            float: right;
            display: block;
            width: 135px;
            color: #101010;
            border-bottom: 1px solid #101010;
            &:hover
            {
                color: #eeb053;
                border-bottom: 1px solid #eeb053;
            }
        }
        
    }
.popup{
    display: none;
    width:825px;
    position: fixed;
    top:0;
    left:20%;  
    box-shadow:1px 1px  10px #333;
    padding:0 50px 20px 50px;
    z-index: 1003;
    background: white;
    h2{
        font-size: 18px;
        color:#101010;
       font-family: "Cambria";
       padding: 20px 0;
       text-align: center;
       border-bottom: 1px dashed #333;
    }
    button{
        display: block;
        margin: 10px auto;
        width: 245px;
        line-height: 35px;
        border-radius: 35px;
    }
    .privacy_address{
        margin-left:300px;
    }
    .icon-guanbi{
        position: absolute;
        top:0;
        right: -1px;
        font-size: 40px;
    }
}