.button{
	background: #101010;
	color:white;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #333;
	outline: none;
    letter-spacing: normal;
	transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -webkit-transition:all .3s ease;
    
	&:hover{
		color:#101010;
		background: white;
	}
}
.button.bgred{
	background: red;
	&:hover{
		border: 1px solid red;
		color:red;
		background: white;
	}
}
