.pager{
	float:right;
	text-align: center;
	color:#818181;
	margin:20px 0;	
	ul{
		li{
			float: left;
			margin-right: 15px;
			border-radius: 3px;
			min-width: 25px;
			font-size: 15px;
			a{ 
				display: inline-block;
				padding: 5px;
			}
			&:hover{
				background:#333;
				a{
					color:white;
				}
				.iconfont{
					color:white;
				}
			}
			&.mgr{
				margin-right: 0;
			}
			&.current{
				min-width: 25px;
				background:#333;
				padding: 5px;
				color:white;
			}
		}
	}
	.more:hover{
		background:transparent;
		a{
			color:black;
		}
	}
}