.pager{
	float:right;
	text-align: center;
	color:#818181;
	margin:20px 0;
	span{
		display:block;
		width: 26px;
		height:26px;
		line-height:26px;
		font-size: 18px;
		border-radius:50%;
		cursor: pointer;
		top:0;
	}	
	ul{
		li{
			float: left;
			margin-right: 15px;
			border-radius: 3px;
			min-width: 25px;
			a{ 
				display: inline-block;
				padding: 5px;
				font-size: 15px;
			}
			&:hover{
				background:#333;
				a{
					color:white;
				}
				.iconfont{
					color:white;
				}
			}
			&.mgr{
				margin-right: 0;
			}
		}
	}
	.current{
		background:#333;
		a{
			color:white;
		}
	}
	.more:hover{
		background:transparent;
		a{
			color:black;
		}
	}
}