header{
	.search-input{
		button{
			display: inline-block;
			margin-top: 5px;
		}
	}
}
.popup{
	width: 960px;
	&.listpopup{
		width: 1250px;
	}
}
.cart_right{
	.fixbox{
		border: 1px solid #cfcfcf;
	}
}