@import "../help/_helper";
@import "../base/_normalize";
@import "../widget/color.scss";
@import "../widget/button.scss";
@import "../widget/page.scss";
@import "../widget/address_form.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
@import "../widget/popup.scss";
.wrap{
	margin: 30px auto;
}
.col2-main{
	width: 976px;
}
.col2-left,
.col2-right{
	width: 224px;
}
/* My Orders CSS */
/* copy tishi*/
.copy-tips{
	position:fixed;
	z-index:999;
	bottom:50%;
	left:50%;
	margin:0 0 -20px -80px;
	background-color:rgba(0, 0, 0, 0.2);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#30000000, endColorstr=#30000000);
	padding:6px;
}
.copy-tips-wrap{
	padding:10px 20px;
	text-align:center;
	border:1px solid #F4D9A6;
	background-color:#FFFDEE;
	font-size:14px;
}
/*copy end*/
.h1-center{
	text-transform: uppercase;
	margin-bottom: 30px;
	text-align: center;
	font-size: 22px;
	color:#101010;
	font-family: "Cambria";
}
.col2-left{
	font-family: "Cambria";
	.myaccount_list{
		li{
			margin-bottom: 17px;
			&.myaccount_list_style{
				a{
					font-weight: bold;
					color:#333;
				}
				span{
					background: #333;
				}
			}
			span{
				display: inline-block;	
				width:12px;
				height:12px;
				background: white;
				border-radius: 50%;
				margin-right: 15px;
				border:1px solid #333;
			}
			a{
				color:#aaa;
				font-size: 14px;
				&:hover{
					font-weight: bold;
					color:#333;
				}
			}
		}
	}
	dl{
		font-family: "Cambria";
		margin-bottom: 25px;
		a{
			&:hover{
				color:red;
			}
		}
		dt{
			margin-bottom: 10px;
			font-size: 16px;
			&.active{
				a{
					color:red;
				}
				i{
					color:red;
					transform:rotate(0deg);
				}
			}
			&:hover{
				i{
					color:red;
				}
			}
			a{
				color:#101010;
			}
			i{
				display: inline-block;
				transform:rotate(-90deg);
			}
		}
		dd{
			line-height: 30px;
			font-size: 14px;
			padding-left:17px;
			color:#333;
			span{
				display: block;
				padding-left: 13px;
			}
		}
	}
}
.head{
	margin-bottom: 45px;
	.icon-gerenzhongxin{
		font-size: 60px;
		padding:20px;
		border: 1px solid #aaa;
		color:#aaa;
		border-radius: 50%;
		margin-right: 20px;
	}
	.hello{

		font-family: "Cambria";
		h2{
			font-size: 24px;
			margin-bottom: 10px;
		}
		p{
			line-height: 20px;
			font-size: 14px;
		}
		a:hover{
			color:#eeb053;
		}
	}
	.fenlei{
		margin-top: 15px;
		li{
			float: left;
			text-align: center;
			color:#272636;
			margin-left:50px; 
			&.mgl{
				margin-left: 0;
			}
			.iconfont{
				font-size: 30px;
				display: block;
				margin-bottom: 20px;
			}
			a{
				font-family: "Cambria";
				font-size: 13px;
				&:hover{
					border-bottom: 1px solid #272636;
				}
				span{
					vertical-align: -1px;
					color:red;
				}
			}
		}
	}
}

/* My Orders CSS  --end--*/

/*Account Setting css*/
.account_setting_tab{
	padding-bottom: 60px;
	padding-left:245px;
	li{
		display: inline-block;
		width: 128px;
		line-height: 35px;
		float: left;			
		margin-right: 10px;
		background: #cfcfcf;
		color:white;
		text-align: center;
		cursor: pointer;
		border-radius: 35px;
		margin-right: 55px;
		&.active{
			background: #333;
		}
	}
}
.account-setting-font{
	padding-left: 155px;
	.icon-gerenzhongxin{
		display: block;
		color:#dfdfdf;
		font-size: 60px;
		border-radius: 50%;
		padding: 20px;
		border:1px solid #dfdfdf;
		margin-bottom: 10px;
	}
	.icon-youxiang,
	.icon-mima{
		display: block;
		color:#dfdfdf;
		font-size: 100px;
	}
	.file-btn{
		margin-top: 10px;
		background: #f8f7f5;
		border: none;
		color:#818181;
		font-weight: bold;
		margin-left: 10px;
		&:hover{
			color:#eeb053;
		}
	}
}
.account-setting-form{
	margin-left: 80px;
	width:400px;
	.labeld{
		display: block;
		color:#818181;
		margin-bottom: 5px;
		margin-top: 15px;
	}
	.ms{
		display: inline-block;
		margin-top:10px;
		margin-left: 5px;
		margin-right: 20px;
		color:#818181;
		margin:10px 20px 0 5px;
	}
	.Setting_submit{
		margin-top: 20px;
		width: 215px;
		height: 35px;
		font-size: 14px;
		line-height: 35px;
		margin-bottom: 60px;
		border-radius: 35px;
	}
	input[type="password"],
	input[type="text"]{
		width: 100%;
		height: 35px;
		line-height: 35px;
		text-indent: 10px;
		color:#333;
		border: 1px solid #dfdfdf;
	}
}
.file {
    position: relative;
    display: inline-block;
    color:#333;
    margin-left: 10px;
    border-bottom: 1px solid #333;
}
.file input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    color: #eeb053;
     border-bottom: 1px solid #eeb053;  
}
.day,
.mon{
	width: 135px;
	height: 35px;
	line-height: 35px;
	text-indent: 10px;
	border:1px solid #dfdfdf;
	margin-right: 9px;
}
.year{
	width: 106px;
	height: 35px;
	line-height: 35px;
	text-indent: 10px;
	border:1px solid #dfdfdf;
}
.country{
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-indent: 10px;
	border:1px solid #dfdfdf;
}
/*Account Setting css --end--*/

/*save for later css*/
.saveforlatersize{
	font-size: 11px;
	p{
		color:#aaa;
		height:15px;
		span{
			margin-right: 5px;
		}
	}
}
/*save for later css  --end --*/

/* My Wishlist css */
.mywishlist_list{
	font-family: "Cambria";
	padding:20px;
	overflow: hidden;
	li{
		float: left;
		width: 418px;
		background: white;
		margin:0 50px 20px 0;
		border:1px solid  transparent;
		position: relative;
		background: #f4f4f4;
		&:hover{
			transition:all .3s ease;
			border:1px solid  #eeb053;
		}
		&.mgr{
			margin-right: 0;
		}
	}
	.images_a{
		display: block;
		width:146px;
		height: 146px;
		background: green;
		float: left;
		margin-right: 15px;
	}
	.biaoti_a{
		display: inline-block;
		color:#333;
		margin-top:10px;
		font-size: 14px;
		&:hover{
			color:#eeb053;
		}
	}
	.price{
		display: inline-block;
		color:red;
		font-size: 18px;
		font-weight: bold;
		margin:15px 10px 10px 0;
	}
	.yuanjia{
		color:#aaa;
		text-decoration: line-through;
	}
	.buynow{
		position: absolute;
		bottom: 30px;
		right: 20px;
		display: block;
		width: 105px;
		line-height: 30px;
		border-radius: 30px;
	}
	.delete{
		display: block;
		position: absolute;
		bottom:5px;
		left: 160px;
		&:hover{
			color:red;
		}
		.iconfont{
			margin-right: 10px;
		}
	}
}
.saveforlater_pager,
.mywishlist_pager{
	margin-top:- 50px;
	margin-right: 10px;
}

/* My Wishlist css --end -- */

/* All Orders css */
.allorders_navbar{
	padding: 5px 0 32px 0;
	text-align: center;
	a{
		display: inline-block;
		width: 105px;
		line-height: 30px;
		font-size: 14px;
		font-weight: bold;
		margin-right: 60px;
		background: #aaa;
		color:white;
		text-align: center;
		border-radius: 30px;
		&:hover{
			background: #333;
		}
		&.mgr{
			margin-right: 0;
		}
	}
	.navbar_a_style{
		background:#333;
	}
}
.allorders_list_head{
	border-bottom: 1px solid #cfcfcf;
	li{
		width: 143px;
		float: left;
		color:#aaa;
		font-weight: bold;
		padding:15px 0;
		margin-right: 20px;
		&.mgr{
			text-align: center;
			margin-right:0;
		}
	}
}
.allorders_list_ul{
	li{
		padding-bottom: 5px;
		border-bottom: 1px dashed #cfcfcf;
		li{
			border:none;
			float: left;
		}
	}
}
.orderno{
	padding-top:35px;
	width: 160px;
}
.products_show_img{
	height: 60px;
	margin-top: 10px;
	width:500%;
	img{
		width: 60px;
		height: 60px;
		float: left;
	}
}
.products{
	position: relative;
	width: 60px;
	margin-right:56px;
	.products_show{
		width: 60px;
		height: 60px;
		overflow: hidden;
	}
	.iconfont{
		font-size: 20px;
		position: absolute;
		top:40%;
		&:hover{
			color:#eeb053;
		}
	}
	.icon-prev{
		left:-20px;
	}
	.icon-next{
		right:-20px;
	}
}
.status{
	text-align: center;
	padding-top:35px;
	width: 143px;
}
.dete{
	margin-left: 20px;
	text-align: center;
	padding-top:35px;
	width: 143px;
}
.status_waitingforpayment_price{
	text-align: center;
	margin-left:37px;
	padding-top:35px;
	text-align: center;
	width: 100px;
	margin-right: 86px;
}
.action{
	margin-top:15px;
	text-align: center;
	width:160px;
	.button{
		display: block;
		width:120px;
		line-height: 20px;
		border-radius: 20px;
		margin: 0 auto 10px;
	}
}
.paid{
		background: #cfcfcf;
		border:1px solid #cfcfcf;
		&:hover{
			background: #cfcfcf;
			border:1px solid #cfcfcf;
			color:white;
		}
	}
.viewdetails{
	margin-right: 10px;
}
.viewdetails,.cancelorder{
	color:#aaa;
	border-bottom: 1px solid #aaa;
	&:hover{
		color:#eeb053;
		border-bottom: 1px solid #eeb053;
	}
}

/* All Orders css --end-- */

/*Order Reviews css*/
.order_reviews_head{
	h2,h3{
		display: inline-block;
	}
	.iconfont{
		color:#aaa;
	}
	a{
		float: right;
		margin-left: 10px;
		font-weight: bold;
	}
}
.order_reviews_conter{
	font-family: "Cambria";
	padding: 0 15px; 
	.conter_head{
		height: 50px;
		line-height: 50px;
		border-bottom: 1px dashed #cfcfcf;
		label{
			color:#aaa;
			font-weight: bold;
			margin-right: 10px;
		}
		.order_no,.tracking_no{
			display: inline-block;
			width: 295px;
		}
	}
}
.conter_list_left{
	padding-top: 10px;
}
.conter_list_li{
	padding:8px 0; 
	border: 1px dashed transparent;;
	border-bottom: 1px dashed #cfcfcf;
	&:hover{
		transition:all .3s ease;
		padding:8px;
		border: 1px solid #eeb053;
	}
	li{
		float: left;
	}
	.tupian{
		display: block;
		width: 60px;
		height: 60px;
		background: red;
		margin-right: 10px;
	}
	.xinxi{
		.xinxi_a{
			color:#aaa;
			width: 170px;
			display: block;
			text-overflow : ellipsis; 
			white-space : nowrap; 
			overflow : hidden; 
			margin-bottom: 13px;
			&:hover{
				color:#eeb053;
			}
		}
		p{
			color:#818181;
			height: 15px;
			span{
				margin-left: 5px;
			}
		}
	}
	.conter_list_price,
	.qty,
	.point{
		color:#aaa;
		line-height: 60px;
	}
	.qty{
		margin:0 80px;
	}
	.conter_list_price{
		margin-left: 70px;
	}	
}
.conter_list_right{
	width: 275px;
	padding-top: 25px;
	padding-left: 20px;
	border-left: 1px dashed #dfdfdf;
	margin-top: 10px;
	.list_right_price{
		p{
			height: 20px;
			line-height: 20px;
			width: 100%;
			color:#666;
		}
		.prices{
			float: right;
		}
		.total{
			padding-top:10px;
			margin-top: 10px;
			border-top: 1px dashed #cfcfcf;
			color:red;
		}
	}
	.list_right_checkout{
		margin-top: 20px;
		span{
			font-weight: bold;
			line-height: 20px;
		}
		.right_checkout{
			width: 100px;
			height: 20px;
			line-height: 20px;
			border-radius: 20px;
			font-size: 12px;
			float: right;
			&+a{
				float: right;
				color:#aaa;
				border-bottom: 1px solid #aaa;
				float: right;
				margin:10px 18px 0 0;
				&:hover{
					color: #eeb053;
					border-bottom: 1px solid #eeb053;
				}
			}
		}
	}
}
.conter_address{
	margin: 50px 0;
	.conter_address_center{
		width: 244px;		
		
		margin: 0 5px;
	}
	.conter_address_right{
		
		width: 244px;
		p{
			color:#666;
			margin-top: 10px;
		}
	}
	.biaoti{
		border-bottom: 1px dashed #cfcfcf;
		padding-bottom: 20px;
		h4{
			font-size: 16px;
		}
	}
}
.conter_operate{
	width: 100%;
	margin-top: 20px;
	font-weight: bold;
	.operate_date{
		text-align: center;
	}

	.conter_operate_head{
		border-bottom: 1px dashed #dfdfdf;
		padding-bottom: 10px;
		span{
			display: inline-block;
			width: 33%;
		}
		.operate_{
			text-indent: 20px;
		}
		.operate_0perator{
			text-align: right;
			padding-right: 20px;
		}
	}
	.conter_operate_content{
		border-bottom: 1px dashed #dfdfdf;
		height: 40px;
		line-height: 40px;
		span{
			display: inline-block;
			width: 33%;
		}
		.operate_0perator{
			text-align: right;
			padding-right: 25px;
		}
	}
}

.conter_address_left{
		width: 380px;
		margin-right: 30px;
		label{
			font-weight: bold;
		}
		h4,h5{
			display: inline-block;
		}
		h5{
			font-size: 14px;
			font-weight: normal;
			margin-left: 10px;
		}
		p{
			overflow: hidden;
			margin: 10px 0;
		}
		span{
			margin-left: 5px;
		}
	}
/*Order Reviews css --end--*/
/*Address Book css*/

.addressbook{
	font-family: "Cambria";
	padding-top:35px;
	li{
		width: 380px;
		float: left;
		margin-left: 90px;
		margin-bottom: 40px;
		padding: 10px;
		border:2px solid transparent;
		&:hover{
			border-color:#eeb053;
		}
	}
}
.addressbook_address{
	p{
		line-height: 25px;
		label{
			font-weight: bold;
			margin-right: 5px;
		}
	}
	.addressbook-head{
		border-bottom: 1px dashed #cfcfcf;
		padding-bottom: 20px;
		span{
			font-size: 22px ;
			color: red;
		}
	}
	a{
		float: right;
		margin-left: 15px;
		height: 18px;
	}
	.icon-xiugai:hover{
		color:#eeb053;
	}
	.icon-shanchu:hover{
		color:red;
	}
	.default{
		color:#aaa;
		font-weight: bold;
		&:hover{
			color:#eeb053;
			border-bottom: 1px solid #eeb053;
		}
	}
	.defaultStyle{
		color:#eeb053;
		border-bottom: 1px solid #eeb053;
	}
}
.postalcode{
	padding-bottom: 15px;
}

.new_address{
	width: 384px;
	height: 208px;
	border: 2px dashed #cfcfcf;
	&:hover{
		border: 2px solid #eeb053;
	}
	.new_address_a{
		width: 130px;
		height: 130px;
		margin: 30px auto;
		display: block;
		background: white;
		font-size: 40px;
		color:#dfdfdf;
		border-radius: 50%;
		text-align: center;
		line-height: 111px;
		border: 2px dashed white;
		transition:all .3s ease-in-out;
		&:hover{
			-webkit-transform:rotate(360deg);
			transform:rotate(360deg);
			border: 2px dashed #eeb053;
			span{
				color:#eeb053;
			}
		}
		&:focus{
			border: 2px solid #eeb053;
			span{
				color:#eeb053;
			}
		}
		span{
			font-size:80px;
		}
	}
}

/*Address Book css -end--*/

/*Order_Reviews css*/
.orderreview_item{
	font-family: "Cambria";
	width:100%;
	padding: 0 20px 70px 20px;
	li{
		float: left;
	}
	.item_head{
		color:#aaa;
		height: 40px;
		line-height: 40px;
		border-bottom: 1px dashed #aaa;
	}
	.item_conter{
		padding: 10px 0;
		border-bottom: 1px dashed #dfdfdf;
		border-top: 1px solid transparent;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		&:hover{
			-webkit-transition:all .3s ease;
			transition:all .3s ease;
			padding:10px;
			border: 1px solid #eeb053;
		}
	}
	.item_information{
		margin-right: 30px;
		margin-left: 10px;
		.biaoti_a_w160{
			display: block;
			width: 162px;
			word-wrap: break-word;
			word-break:normal;
			margin-bottom: 20px;
			margin-top: 8px;
			&:hover{
				color:#eeb053;
			}
		}
		p{
			height: 15px;
			span{
				margin-left: 8px;
			}
		}
	}
	.item_a{
		float: right;
		margin-top: 20px;
		width: 245px;
		text-align: center;
		.write_a{
			display: block;
			width: 150px;
			height: 30px;
			line-height: 30px;
			border-radius: 30px;
			margin: 0 auto;
			&+p{
				font-size: 14px;
				margin-top: 10px;
				span{
					color:red;
				}
			}
		}
		.more{
			margin-top: 20px;
		}
		.readmore{
			font-weight: bold;
			border-bottom: 1px solid #333;
			
		}
	}
	.item_item{
		margin-right: 200px;
	}
	.item_reviews{
		float: right;
		margin-right: 100px;
	}
	.item_quantity,
	.item_price,
	.item_item{
		width: 100px;
	}
	.item_quantity,
	.item_price{
		text-align: center;              
		margin-left: 50px;
		span{
			line-height: 100px;
		}
	}
}
/*Order_Reviews css --end--*/

/*==========================*/

/*point css */
.mypoint{
	font-family: "Cambria";
	margin-top: 20px;
	h2{
		font-size: 16px;
		color:#101010;
		margin-bottom: 30px;
	}
	.mypoint_conter{
		margin-left: 40px;
	}
	.mgr20{
		.iconfont{
			display: inline-block;
			font-size: 22px;
			color:#101010;
		}
	}
	.mgt30{
		margin-top: 30px;
	}
	.point_save{
		margin-bottom: 5px;
	}
	.point_get,
	.point_save{
		font-size: 14px;
		font-weight: bold;
	}
	.point_val,
	.point_save{
		color:red;
	}
	.point_get{
		color:#666;
		position: relative;
		&:hover{
			border-bottom: 1px solid #666;
		}
		span{
			display: inline-block;
			text-align: center;
			width: 12px;
			height: 12px;
			line-height: 12px;
			border: 1px solid #666;
			border-radius: 50%;
			position: absolute;
			top:-7px;
			right: -18px;
		}
	}
	.point_val{
		font-size:48px ;
		span{
			vertical-align: -7px;
		}
	}
	.point_point{
		font-size: 16px;
	}
}
.mypoint_details{
	font-family: "Cambria";
	margin-top: 20px;

	h2{
		font-size: 16px;
		color:#101010;
		margin-bottom: 30px;
	}
	span{
		display: inline-block;
		width: 150px;
	}
	.mypoint_details_head{
		height: 40px;
		line-height:40px;
		color:#aaa;
	}
	li{
		height: 35px;
		line-height: 35px;
	}
	.Detial,
	.detial_li{
		text-align: center;
	}
	.date_li{
		text-align: right;
	}
	.Date{
		text-align:right;
		padding-right: 50px;
	}
}
.mypoint_pager{
	margin-top: -45px;
	margin-right: 25px;
}
/* point css --end--*/

/*My Invitation css*/
.Invitation{
	margin-top: 60px;
	text-align: center;
	.share{
		font-size: 16px;
		color:#666;
	}
	.sns{
		margin: 12px 0;
		a{
			color:#101010;
			text-transform: uppercase;
			font-size: 16px;
			margin: 0 5px;
		}
		span{
			color:#101010;
			font-size: 16px;
		}
	}
	.socre{
		width: 200px;
		margin:35px auto 10px;
		li{
			float: left;
			margin-right: 10px;
			i{
				color:#666;
				font-size: 30px;
				&:hover{
					color: red;
				}
			}

		}
	}
	.dizhi{
		display: inline-block;
		padding: 5px 30px;
		background: #eee;
		border:1px solid #cfcfcf;
	}
	.copy{
		display: block;
		width: 100px;
		line-height: 35px;
		border-radius: 35px;
		margin: 12px auto 8px;
	}
	.blog{
		color:#aaa;
	}
}
/*My Invitation css --end--*/

/*Forgotten Password css */
.forgotten_password{
	width: 550px;
	margin: 100px auto 300px;
	text-align: center;
	p{
		font-size: 14px;
		margin: 20px 0 50px 0;
	}
	input{
		width: 285px;
		height: 31px;
		font-size: 16px;
		text-indent: 5px;
	}
}
.forgotten_password_footer{
	width: 810px;
	margin: 0 auto;
	img{
		display: inline-block;
	}
	p{
		margin-top: 10px;
		text-align: center;
	}
}
.forgotten_password_popup{
	width: 500px;
	text-align: center;
	top:50%;
	left:30%;
	margin-top:-180px;
	p{
		font-size: 16px;
	}
	.close_popup{
		display: block;
		width: 115px;
		height: 35px;
		line-height: 35px;
		font-size: 16px;
		margin: 40px auto;
	}
}
.forgotten_password_button{
	width: 100px;
	height: 35px;
	line-height: 35px;
}

/*Forgotten Password css --end--*/

/*New Password css */
.new_password{
	width: 856px;
	height: 459px;
	margin: 100px auto 150px;
	text-align: center;
	h1{
		margin-bottom: 45px;
	}
	label{
		display: block;
		color:#aaa;
		margin-bottom: 10px;
		margin-top: 25px;
	}
	input{
		text-align: center;
		font-size: 16px;
	}
	.forgotten_password_button{
		margin-top: 25px;
	}
}
/*New Password css --end--*/

/*aboutus*/
.aboutus{
	>div{
		margin-bottom: 40px;
		min-height: 50px;
		img{
			margin: 0 auto;
			margin-bottom: 20px;
		}
		em{
			color:red;
			font-size: 18px;
		}
		a{
			margin-left: 3px;
			border-bottom: 1px solid #101010;
		}
	}
	font-family: "Cambria";
	h1{
		background: #aaa;
		border: 1px solid #aaa;
		font-size:20px;
		font-weight: bold;
		padding: 10px 0;
		cursor: pointer;
		margin-bottom: 15px;
		color:#cfcfcf;
		&.active{
			color:#101010;
		}
		&:hover{
			color:#101010;
		}
	}
	h2{
		font-size: 16px;
		font-weight: bold;
		margin: 15px 0 8px 15px;	
	}
	p{	
		margin-left: 30px;	
		font-size: 14px;
		line-height: 16px;	
	}
	h3{
		margin-left: 25px;
		font-size: 14px;
		margin-top: 10px;
	}
	label{
		margin-left: 45px;
		display: block;
		font-size: 14px;
		margin-top: 5px;
	}
}