@import '../components/_form';
@import '../base/_normalize';
@import '../widget/color.scss';
@import '../widget/address_form.scss';
@import '../widget/cart_right.scss';
@import '../widget/progress.scss';
@import '../layout/common.scss';
@import '../layout/footer.scss';
@import '../layout/header.scss';
@import "../layout/_layout.scss";
@import '../widget/button.scss';
@import "../widget/popup.scss";
.colored
{
    li{
        display:none;
    }
    li.active{
        display:block;
    }
}
h3{
    font-family: "Cambria";
    font-size: 22px;
    border-bottom: 1px dashed #666;
    padding-bottom: 10px;
    margin-bottom: 35px;
    &.add{
        margin-bottom: 25px;
    }
}
.leftD
{
    width: 745px;
    padding-bottom: 70px;
}
.checkInfo {
    label {
        display: block;
        a {
            text-transform: capitalize;
            margin-left: 20px;
            text-decoration: underline;
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
        &.selected {
            background: lighten(#eee, 2%);
            a {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .input-box {
        text-align: left;
        margin: 10px;
        span {
            display: inline-block;
            width: 200px;
        }
        input, select {
            width: 280px;
            box-sizing: border-box;
        }
    }
    .notice {
        padding-left: 215px;
        color: #aaa;
        font-size: 1rem;
        margin-top: 5px;
    }
}

.address_list
{
    width: 730px;
    margin-bottom: 45px;
    padding-left: 10px;
    i
    {
        font-style: normal;
    }
    .button
    {
        height: 40px;
        line-height: 40px;
        border-radius: 40px;
        display: block;
        width: 300px;
        margin-top: 20px;
        margin-left: 35px;
    }
    .contentd>input{
        display: block;
        float: left;
       margin-top: 39px;
    }
    .neirong{
        width: 96%;
        float: right;
        margin-bottom: 15px;
        font-family: "Cambria";
        vertical-align: -40px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #666;
        p
        {
            height: 20px;
            color: #666;
            label
            {
                font-weight: bold;
                margin-right: 5px;
            }
            .iconfont
            {
                float: right;
                margin-right: 5px;               
                color: #101010;
                cursor: pointer;
            }
            a
            {
                float: right;
                color: #101010;
                border-bottom: 1px solid #101010;
            }
        }
    }

}
.shippingOptions
{
    font-family: "Cambria";
    width: 100%;
    margin-top:50px;
    position: relative;
    color:#333;
    .shipping{
        margin-left: 10px;
    }
    p{
        position: absolute;
        top:15px;
        left: 0;
        font-size: 20px;
    }
    .options{
        padding-bottom:15px;
        margin-bottom: 15px;
        border-bottom: 1px dashed #aaa;
    }
    label{
        display: block;
        width: 100%;
    }
    span{
        margin-bottom: 10px;
    }
    .title{
        font-size: 14px;
        width: 350px;
        display: inline-block;
        margin-left: 5px;
    }
    .time{
        font-size: 14px;
        color:#333;
        width: 200px;
        display: inline-block;
    }
    .price{
        font-size:16px ;
        font-weight: bold;
        color:red;
        float: right;
    }
    .checkbox{
        margin-left: 20px;
        .Trackingnumber{
            margin-left: 5px;
        }
        .money{
            color:red;
        }
        .icon-wenhao{
            display: inline-block;
            position: relative;
            i{
                text-align: center;
                font-family: "Cambria";
                width: 200px;
                line-height: 30px;
                background: white;
                box-shadow: 1px 1px 3px #aaa;
                font-size: 13px;
                position: absolute;
                top:24px;
                right: -18px;
            }
            em{
                right:17px;
            }
            &:hover{
                .pop{
                    display: block;
                }
            }
        }
    }
}
.PaymentMethod{
    margin-top: 50px;
    .options{
        margin-left: 10px;
        input{
            float: left;
            height:70px;
            display: inline-block; 
        }
        label{
            line-height: 70px;
            margin-left:25px;  
            width: 90%;
            display: inline-block;
            p{
                line-height: 20px;
            }
           span{
                line-height: 20px;
           }
        }
    }
}
.OrderRequest
{
    width: 730px;
    margin-top: 50px;
    p
    {
        margin-left: 10px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        color: #aaa;
    }
    textarea
    {
        margin-left: 10px;
        font-size: 14px;
        overflow-y:hidden;
        width: 100%;
        border: 1px solid #cfcfcf;
        resize: none;
        text-indent: 5px;
        border-radius: 3px;
    }
}

