@import "../help/_helper";
@import "../base/_normalize";
@import "../widget/color.scss";
@import "../widget/button.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
@import "../widget/newin.scss";
@import "../widget/page.scss";
@import "../widget/popup.scss";
.home{
	color:#aaa;
	margin-bottom: 15px;
	a{
		color:#aaa;
		text-transform: capitalize;
		margin: 0 2px;
		border-bottom: 1px solid transparent;
		&:hover{
			border-bottom: 1px solid #aaa;
		}
	}
}
.product-cont{
	margin-bottom:20px;
	.product-img ,
	.showimg{
		position: relative;
	}
	.thumbnail{
		margin-right:8px;
		li{
			border:2px solid transparent;
			margin-bottom:6px;
			position:relative;
			&.active{
				border:2px solid #333;
				&:after{
					content:"\e61a";
					font-family: "iconfont" !important;
					position:absolute;
					bottom:-2px;
					right:-2px;
					font-size:20px;
					color:#101010;
				}
			}
			&:hover{
				border:2px solid #333;
				&:after{
					content:"\e61a";
					font-family: "iconfont" !important;
					position:absolute;
					bottom:-2px;
					right:-2px;
					font-size:20px;
					color:#101010;
				}	
			}
		}	
	}
	.social{
		margin-top:30px ;
		margin-left: 180px;
		li{
			float:left;
			margin-right:25px;
			.iconfont{
				font-size:20px;
			}	
		}
	}
	.option{
		margin-left:20px;
		padding-top:3px;
		h1{
			font-family: "Cambria";
			font-size:22px;
			color:black;
			width: 690px;
		}
		.pingfen{
			margin:10px 0 30px 0;
			ul{
				display:inline-block;
				margin-right:38px;
				span{
					display:inline-block;
					margin-top:4px;
					margin-left:6px;
					color:#fe7726;
				}
			}
			li{
				float:left;
				margin-right:3px;
			}
			.icon-huoche{
				font-size:20px;
				color:#838383;
				margin-right:10px;
			}
			>span{
				font-size:14px;
				color:#838383;
			}
		}
		.jiage{
			margin-bottom:45px;
			.price{
				color:red;
				font-size:24px;
			}
			.orgi{
				font-size:14px;
				color:#aaa;
				text-decoration: line-through;
				margin: 0 10px 0 2px ;
			}
			.off{
				font-size:14px;
				font-weight:bold;
			}
			.icon-daojishi{
				font-size:30px;
				color:black;
				font-weight:bold;
				margin: 0 5px 0 80px;
				vertical-align: middle;
			}
			.time{
				font-size:14px;
				color:black;
				font-weight:bold;
			}
		}
		.qty,
		.size,
		.color{
			label{
				display:inline-block;
				width:65px;
				font-size:16px;
				font-weight:bold;
			}
			ul{
				display:inline-block;
				vertical-align: middle;
			}
			li{
				float:left;
				margin-right:8px;
				border:2px solid transparent;
				cursor: pointer;
			}
		}		
		.cs{
			li{
				position:relative;
				&:after{
					content:"\e61a";
					font-family: "iconfont" !important;
					position:absolute;
					bottom:-3px;
					right:-2px;
					font-size:14px;
					color:transparent;
					transition:color 300ms ease;
				}
				&.active{
					border:2px solid #333;
					&:after{
						color:#333;
					}
				}
				&:hover{
					border:2px solid #333;
				}
			}
		}
		.size{
			margin:30px 0;
			li{
				font-size:14px;
				padding: 8px;
				min-width: 44px;
				min-height: 40px;
				text-align:center;	
				padding-top: 11px;		
			}
		}
		.qty{
			a{
				display:inline-block;
				font-size:24px;
				width:38px;
				line-height:34px;
				text-align:center;
				border:1px solid #aaa;
				border-radius:3px;
				background:#ededed;
				opacity:0.8;
			}
			input{
				display:inline-block;
				width:70px;
				border:1px solid transparent;
				padding: 10px;
				margin:0 20px;
				text-align: center;
				vertical-align: 3px;
				&:hover{
	                border-color:#828282;
	            }
	            &:focus{
	                border-color:#333;
	            }
			}
		}
		.add{
			margin-top:40px;
			.processing{
				&:hover{
					.tip{
						display: block;
					}
				}
			}
			.tobag{
				display:inline-block;
				width:275px;
				line-height:46px;
				border-radius:46px;	
				position: relative;
				margin-right: 25px;
				.tip{
					display: none;
					position: absolute;
					top:-11px;
					right: -120px;
					border-radius: 5px;
					color:white;
					background: #101010;
					border:1px solid #101010;
					padding: 10px;
					p{
						font-size: 12px;
						text-align: left;
						line-height: 20px;
						font-weight: normal;
					}
					h6{
						font-size: 14px;
						line-height: 20px;
						font-weight: normal;
					}
					span{

						font-size: 20px;
						position: absolute;
						bottom: 30%;
						left:-12px;
						color:#101010;
					}
				}
			}
			.icon-hert{
				font-size:20px;
				margin:0 5px 0 0;
			}
			.towishkist{
				color:black;
				font-size:14px;
				&:hover{
					color:#eeb053;
				}
			}
		}	
	}
}
.reviews,
.description{
	margin-top:60px;
	h1{
		font-family: "Cambria";
		font-size:24px;
		color:black;
		margin-bottom:20px;
		text-transform: uppercase;
	}
	.description-content{
		border-top:1px dashed #dfdfdf;
		padding:35px 30px;
		h2{
			font-size:18px;
			color:black;
			margin-bottom:5px;
		}
		p{
			line-height:20px;
		}
		.sizechart{
			font-size:15px;
			display:block;
			margin-top:70px;
			margin-bottom:5px;
		}
	}
}
.no-reviews{
	font-size: 16px;
	padding-left: 190px;
	border-top: 1px dashed #aaa;
	padding-top: 30px;
	.write{
		margin-bottom:30px;
		display:inline-block;
		width:180px;
		line-height:29px;
		border-radius:29px;
		margin-left: 20px;
		i{
			font-weight:normal;
		}
	}
}
.reviews-content{
	padding-left:30px;
	border-top:1px dashed #aaa;
	&.pdl0{
		padding-left:0;
	}
	.reviews-head{
		padding:20px 20px 10px 40px;
		border-bottom:1px dashed #aaa;
	}
	.head-based{
		margin:25px 0 0 47px;
		p{
			line-height:18px;
		}
	}
	.head-icon{
		margin-top:25px;
		span,
		i{
			font-size:20px;
			
		}
		span{
			vertical-align: middle;
			font-size:24px;
			margin-left:25px  ;
			color:#fe7726;
		}
	}
	.head-a {
		text-align:center;
	}
	.write{
		margin-bottom:30px;
		display:block;
		width:180px;
		line-height:29px;
		border-radius:29px;
		i{
			font-weight:normal;
		}
	}
	.see{
		font-size:13px;
		border-bottom:2px solid #333;
		display:inline-block;
		font-weight:bold;
	}
	.reviews-bycarlos{
		position:relative;
		padding:20px 0;
		border-bottom:1px dashed #aaa;
		h2,h3{
			display:inline-block;
			font-size:15px;
			margin-bottom:20px;
		}
		h2{
			font-weight:bold;
			margin-right:25px;
		}
		h3{
			color:#aaa;
		}
		ul{
			max-width: 580px;
			margin-bottom:15px;
			li{
				float:left;
				margin-right:20px;
			}
		}
		.sc{
			margin-right: 160px;
			display: inline-block;
			vertical-align: -31px;
			font-family: "Cambria";
			p{
				margin-bottom: 10px;
			}
		}
		.xing{
			display: inline-block;
			color:#fe7726;
			i{
				font-size:16px;
			}
			span{
				vertical-align: middle; 
				font-size:16px;
				margin-left:10px;
			}
		}
	}
}
.left-product{
	width: 980px;
}
.right-relative{
	padding:20px;
	width:195px;
	border:1px solid #cfcfcf;
	text-align:center;
	border-radius:3px;
	h1{
		font-size:24px;
	}
	span{
		display:inline-block;
		margin-bottom:15px;
		color:#aaa;
	}
	li{
		margin-bottom:8px;
	}
}
.login{
	text-align: center;
	h2{
		display: block;
		font-size: 18px;
		text-transform: uppercase;
		font-family: "Cambria";
		border-bottom: 1px dashed #cfcfcf;
		padding-bottom: 20px;
	}
	p{
		font-size: 18px;
		margin: 66px 0 45px 0;
	}
	a{
		display: inline-block;
		width: 255px;
		line-height: 40px;
		border-radius: 40px;
	}
	.icon-guanbi{
		position: absolute;
		top:0;
		right: -1px;
		font-size: 50px;
	}
}
.review{
	h2{
		display: block;
		font-size: 18px;
		text-transform: uppercase;
		font-family: "Cambria";
		border-bottom: 1px dashed #cfcfcf;
		padding-bottom: 20px;
		margin-bottom: 42px;
		text-align: center;
	}
	.name{
		width: 385px;
		label{
			font-size: 15px;
			display: block;
			span{
				vertical-align: middle;
				color:red;
			}
		}
		input{
			width: 285px;
			height: 35px;
			line-height: 30px;
			border: 1px solid #dfdfdf;
			border-radius: 3px;
			text-indent: 10px;
			&:hover{
				border-color: #aaa;
			}
			&:focus{
				border-color: #101010;
			}
		}
	}
	.shoucang{
		width:204px;
		height: 52px;
		p{
			font-size: 14px;
			font-weight: bold;
		}
		i{
			margin-right: 3px;
			font-size: 18px;
		}
	}
	.ct{
		margin-top: 28px;
		label{
			display: block;
			font-size: 15px;
			span{
				color:red;
				vertical-align: middle;
			}
		}
		textarea{
			padding: 10px;
			resize: none;
			width: 675px;
			height: 160px;
			font-size: 16px;
			border-radius: 3px;
			font-family: "Cambria";
		}
		p{
			margin-top: -23px;
			text-align: right;
			margin-right: 5px;
			color:#aaa;
			span{
				color:#333;
			}
		}
	}
	button{
		display: block;
		margin: 50px 0 0 200px;
		width: 252px;
		line-height: 40px;
		border-radius: 40px;
	}
}

.back{
	display: block;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	&:hover{
		color:#fe7726;
	}
	i{
		margin-right: 5px;
	}
}
.btpp{
	display: inline-block;
	width: 340px;
	height: 35px;
	line-height: 35px;
	border-radius: 35px;
	margin: 20px 0 ;
}