@import "../widget/color.scss";
@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
@import "../widget/page.scss";
@import "../widget/progress.scss";
@import '../widget/cart_right.scss';
@import "../widget/button.scss";
.colored{
	li{
		display: none;
	}
}
.shopnow{
	font-family: "Cambria";
	width: 100%;
	text-align: center;
	i{
		display: block;
		margin-bottom:30px;
		font-size: 100px;
	}
	label{
		display: block;
		font-size: 24px;
		font-weight: bold;
		margin:25px 0;
	}
	p{
		font-size: 18px ;
		color:#aaa;
		line-height: 30px;
	}
	a{
		display: block;
		width: 235px;
		line-height: 35px;
		margin: 30px auto ;
		border-radius: 35px;
	}
}
.shopping_cart{
	width: 100%;
	height: auto;
	padding-bottom: 30px;	
	.cart_left{
		width:745px;
		height: auto;
		h2{
			font-size:20px;
			margin-bottom: 35px;
			padding-bottom: 16px;
			border-bottom: 1px dashed #818181;
		}
		p{
			color:#333;
		}
		.list{
			width:auto;
			position: relative;
			padding: 10px 0 ;
			border-bottom: 1px dashed #dfdfdf;
			>input{
				width: 20px;
				height: 20px;
				float: left;
				margin-top:38px;
				margin-right:16px;
			}
			.button{
				float: left;
				width: 40px;
				height: 100px;
				float: left;
				button{
					width: 20px;
					height: 20px;
					margin: 36px -2px;
				}
			}
			.commodity{
				width: 285px;
				height: 105px;
				>a{
					width: 100px;
					height: 100px;
					margin-right:20px;
					float: left;
					border:1px solid transparent;
					&:hover{
						border:1px solid #e5941a;
					}
				}
			}
			.listInformation{
				color:#818181;
				width:162px;
				height: 65px;
				font-size: 12px;
				a{
					line-height: 16px;
					color:#818181;
					float: left;
					clear:right;
					word-wrap: break-word;
					&:hover{
						transition:color .2s ease;
						color:#e5941a;
					}
				}
				p{
					font-size: 14px;
				}
			}
			.listSize{
				width:160px;
				height:30px;
				font-size: 12px;
				font-family: "Cambria";
				p{
					height: 15px;
				}
				span{
					margin-right:10px;
				}
			}
			.action{
				text-align:center;
				width: 127px;
				height:80px;
				padding-top:20px;
				margin-left:20px;
				a{
					display:inline-block;
					span{
						display:inline-block;
						font-size:25px;
						margin-right:5px;
						margin-bottom:10px;
						&:hover{
							transition:color .2s ease;
							color:#e5941a;
						}
					}
				}
				.later{
					color:#aaa;
					border-bottom:1px solid #aaa;
					&:hover{
						color:#e5941a;
						border-bottom:1px solid #e5941a;
					}
				}
			}
			.listQty{
				width: 140px;
				height: 80px;
				padding-top:20px;
				text-align: center;
				font-size:20px;
				margin-right:30px;
				input[type="text"]{
					width:35px;
					border:none;
					font-size: 16px;
					text-align: center;
					border:1px solid transparent;
					&:focus{
						border:1px solid rgba(82, 168, 236, 1);
					}
				}
				.minus,.plus{
					display:inline-block;
					color:#333;
					width: 29px;
					line-height:27px;
					border:1px solid #888;
					font-size: 18px;
					border-radius: 5px;
					background: #eee;
				}
				.minus{
				    margin-left:10px;
				}
			}
			.listmoney{
				width: 100px;
				height: 100px;
				text-align: center;
				margin-top: 10px;
				font-family: "Cambria";
				p{
					font-size:22px;
					line-height: 20px;
					color: red;
				}
				i{
					display:block;
					line-height:20px;
					color:#818181;
					text-decoration: line-through;
					font-style: normal;
					margin-right:5px;
				}
				label{
					display:block;
					font-size:14px;
			    }
			}
		}
	}
	.itemsfoot{
		margin-top:30px;
		input{
			width:20px;
			height: 20px;
			margin-right:10px;
			vertical-align: middle;
		}
		a{
			color:#aaa;
			border-bottom:1px solid #aaa;
			margin-left:30px;
			&:hover{
				transition: all .5s ease;
				color:#e5941a;
				border-bottom:1px solid #e5941a;
			}
		}
		label{
			color:#101010;
		}
	}
}
.saveforlater{
	border-top:1px dashed #cfcfcf;
	margin-top:120px;
	position: relative;
	padding-top: 56px;
 	li{
		padding:5px;
		width: 330px;
		float: left;
		margin-right:70px;
		margin-bottom:20px;
		&:hover{
			transition:box-shadow 0.5s ease;
			-o-transition:box-shadow 0.5s ease;
			-moz-transition:box-shadow 0.5s ease;
			-webkit-transition:box-shadow 0.5s ease;
			box-shadow:0 0 10px #bdbdbd;
			-o-box-shadow:0 0 10px #bdbdbd;
			-moz-box-shadow:0 0 10px #bdbdbd;
			-webkit-box-shadow:0 0 10px #bdbdbd;
		}
	}
	h3{
		text-align: center;
		background:white;
		position: absolute;
		left:435px;
		top:-93px;
		font-size:34px;
		padding:30px 0;
		font-family: "Cambria";
		span{
			display: inline-block;
			width: 5px;
			height: 5px;
			background: #333;
			border-radius: 50%;
			margin-right: 3px;
		}
	}
	li>label{
		font-family: "Cambria";
		color:red;
		font-weight: bold;
		font-size: 16px;
		margin-right:5px;

	}
	a{
		float: left;
		margin-right:10px;
	}
	.biaoti{
		color:#aaa;
		width: 161px;
		float: left;
		word-wrap: break-word;
		word-break: normal;
		height: 40px; 
		&:hover{
			transition:color .2s ease;
			color:#e5941a;		
		}
	}
	i{
		font-family: "Cambria";
		font-style: normal;
		color:#bdbdbd;
		text-decoration: line-through;
	}
	.saveforlaterSize{
		font-family: "Cambria";
		margin-top:10px;
		margin-bottom: 7px;
		span{
			margin-right:10px;
		}
	}
	.delete{
		a{
			height:14px;
			width:auto;
			border-bottom:1px solid #333 ;
			margin-right:30px;
			&:hover{
				color:red;
				border-bottom:1px solid red ;
			}
		}
	}
}
