footer{
	border-top: 2px solid #333;
	padding-bottom: 20px;
	.newsletter{
		h2{
			font-size: 16px;
		}
	}
	.content{
		padding: 35px 0 0 0;
	}
	.cms_list{
		dl{
			width: 200px;
			float: left;
			margin: 0;
			dt{
				font-size: 14px;
				font-weight: 700;
			}
			dd{
				padding-top: 10px;
			}
		}
	}
	.social{
		margin:10px 0 20px 0;
		li{
			float: left;
			margin-right: 21px;
			i{
				font-size: 24px;
				color: #333;
			}
			&:hover{
				i{
					color: #e73620;
				}
			}
		}
	}
	#newsletter{
		width: 280px;
		div{
			margin-top: 15px;
			height: 27px;
			background-color:#000;
			border-radius: 1px;
		}
		input{
			height: 100%;
			width: 207px;
			height: 25px;
			line-height: 25px;
			border:none;
			padding: 0;
			margin: 1px 0 0 1px;
			padding-left: 15px;
			outline: none;
		}
		button{
			width: 55px;
			height:25px;
			font-size: 14px;
			color: white;
			display: block;
			float: right;
			line-height:25px;
			text-align: center;
			border: none;
			background-color:#000;
		}
	}
	.qIndex{
		width: 100%;
		float: left;
		text-align: center;
		margin-top: 50px;
		ul{
			display: inline;
			li{
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
	.friendlyImg{
		width: 100%;
		float: left;
		text-align: center;
		margin: 10px 0;
		img{
			display: inline-block;
		}
	}
	.copyright{
		width: 100%;
		float: left;
		text-align: center;
	}
}