header{
	margin-bottom: 10px;
	border-bottom: 1px dashed #333;
	.tool{
		padding: 10px 0;
	}
	.logo{
		width: 50%;
	}
	.my-orders{
		width: 50%;
	}
	.my-account{
		padding-left: 58px;
		margin-bottom: 20px;
		li{
			float: left;
			padding:1px 10px;
			border-right:1px solid #cfcfcf;
			position: relative;
			.title,
			a{
				color:#808080;
				font-size: 14px;
			}
			span{
				color:#808080;
				vertical-align: middle;
			}
			&:hover{
				.pop{
					display: block;
				}
			}
		}
		.signin{
			width: 135px;
			padding: 25px 15px;
			text-align: center;
			.in{
				display: block;
				padding: 10px 25px;
				background: #272636;
				color:white;
				border-radius: 25px;
			}
			.or{
				display: block;
				line-height: 30px;
				color:#aaa;
			}
			.iconfont{
				font-size: 32px;
			}
			.icon-google{
				margin-right: 24px;
			}
			.costomer{
				margin-top: 45px;
				margin-bottom: 10px;
				display: block;
				width: 103px;
				padding: 10px 0;
				color:black;
				font-size: 14px;
				border-radius: 25px;
				border: 1px solid #aaa;
			}
			.line{
				position: absolute;
				top:40%;
				left:16px;
			}
			p{
				line-height: 35px;
				text-align: left;
				span{
					float: right;
				}
			}
		}
		.sign{
			width: 135px;
			padding:5px 0;
			a{
				display: block;
				padding:12px 15px;
				&:hover{
					background: #333;
					color:white;
					span{
						color:white;
					}
				}
			}
		}
		.help{
			width: 310px;
			padding: 15px;
			.iconfont{
				display: block;
				float: left;
				font-size: 35px;
				color: #333;
			}
			.help-tel{
				margin-bottom: 17px;
			}
			.sales{
				width: 217px;
				h2{
					font-size: 16px;
					color: black;
				}
				p{
					margin: 5px 0;
					line-height: 15px;
					color:#808080;
				}
				a{
					font-size: 16px;
					color: black;
					border-bottom: 1px solid #333;
				}
			}
		}
		.usd{
			padding:5px 0;
			a{
				display: block;
				padding: 10px;
				&:hover{
					background: #333;
					color:white;
				}
			}
		}
		.currency{
			border-right:none;
			padding-right:0;
		}	
	}
	.my-bag{
		position: relative;
		font-size: 14px;
		line-height: 30px;
		&:hover{
			.baglist{
				display: block;
			}
		}
		.iconfont{
			font-size: 22px;
			margin: 0 5px 0 20px;
		}
		.pcs{
			color:red;
		}
		.baglist{
			width: 258px;
			padding: 5px;
			.list{
				margin-bottom: 10px;
				padding: 5px;
				border: 1px solid transparent;
				&:hover{
					border: 1px solid #333;
				}
				img{
					display: block;
					float: left;
					margin-right: 8px;
				}
				.biaoti{
					display: block;
					overflow: hidden;
					max-height: 27px;
					margin-bottom: 10px;
					word-wrap: break-word;
				}
				.price{
					font-size: 20px;
					color:red;
				}
			}
		}
		.checkout{
			border-top: 1px dashed #cfcfcf;
			.button{
				display: block;
				margin: 18px auto;
				width: 183px;
				line-height: 30px;
				border-radius: 30px;
			}
		}
	}
	.big{
		line-height: 35px;
		cursor: pointer;
		font-size: 25px;
	}
	.search{
		height: 35px;
	}
	.search-input{
		width: 440px;
		height: 35px;
		border: 1px solid #666;
		padding-left: 10px;
		opacity: 0;
		position: relative;
		z-index: 99;
		.input-text{
			vertical-align: 0px;
			border: none;
			margin-top: 4px;
			height: 25px;
			line-height: 25px;
			width: 91%;
			outline: none;
			border-right: 1px solid #cfcfcf;
		}
		button{
			margin-left: 8px;
			border: none;
			background: white;
		}
		.search-select{
			position: absolute;
			top:33px;
			left:-1px;
			width:440px;
			background: white;
			border: 1px solid #aaa;
			transform:translatey(-100%);
			display: none;
			li{
				line-height: 25px;
				padding-left: 10px;
				cursor: pointer;
				&:hover{
					background: #333;
					color:white;
				}
			}
		}
	}
	.top-nav{
		margin-top: 13px;
		ul{
			width:815px;
			margin-left: 330px;
			margin-bottom: 15px;
			position: relative;
		}
		li{
			float: left;
			margin-right: 60px;
			font-family: "Cambria";
			&:hover{
				.nav-bar{
					display: block;
				}
			}
			a{
				font-size: 16px;
				padding-bottom: 13px;
				border-bottom: 3px solid transparent;
				&:hover{
					color:red;
					border-bottom: 3px solid red;
				}
			}
		}
		.nav-bar{
			display: none;
			position: absolute;
			top:33px;
			left: -50px;
			width: 960px;
			padding: 37px;
			background: white;
			z-index: 10;
			font-family: "Arial";
			&.special{
				a{
					font-size: 14px;
				}
			}
			dl{
				float: left;
				width: 227px;
				dt{
					font-size: 14px;
					font-weight: bold;
				}
				dd{
					margin: 8px 0;
					a{
						font-size: 12px;
						&:hover{
							border: none;
						}
					}
				}
			}
			.nav-img{
				padding-left: 30px;
				border-left:1px solid #cfcfcf;
 				height: 245px;
			}
		}
	}
}
.pop{
	display: none;
	position: absolute;
	top:19px;
	right: 0;
	z-index: 100;			
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	background: white;
	box-shadow: 1px 1px 8px #dfdfdf;
	&.usd{
		right: -9px;
	}
	em{
		position: absolute;
		right: 8px;
		display: inline-block;
		width: 0;
		height: 0;
		color:#aaa;
		border-bottom:8px solid #cfcfcf;
		border-left:8px solid transparent;
		border-right:8px solid transparent;
		border-top:8px solid transparent;
	}
	.emtop{
		top:-16px;
		z-index: 1;
	}
	.embottom{
		top:-15px;
		border-bottom:8px solid white;
		z-index: 2;
	}
	&.baglist{
		top:33px;
		em{
			right:83px;
		}
	}
}